body {
  margin: 0;
  font-family: Arial, sans-serif;
}



.mainContent {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.productsSaveContainer {
  padding-left: 15rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectAllContainer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.selectAllLabel {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.selectAllCheckbox {
  margin-right: 5px;
}

.productsList {
  margin-top: 10px;
}

.productsTable {
width: 83%;
    border-collapse: collapse;
    margin-top: 3rem;
    margin-left: 16rem;
}

.productsTable th,
.productsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: middle; /* Ensures content is centered vertically */
}

.productsTable th {
  background-color: #f2f2f2;
  text-align: center; /* Center-aligns text in header cells */
}

.productImage {
  max-width: 100px;
  height: auto;
}

.productsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.productsTable tr:hover {
  background-color: #ddd;
}

.orderButton,
.actionButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap; /* Prevent button text from wrapping */
}

.orderButton:hover,
.actionButton:hover {
  background-color: #45a049;
}

.noProductsMessage {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}
.submitButtonorders{

margin-left: 16rem;
    margin-top: 2rem;
}
.paginationControls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationControls button {
  padding: 10px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.paginationControls button:hover {
  background-color: #007bff;
  color: white;
}

.paginationControls .activePage {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

